.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(150, 149, 151, 0.747);
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  justify-content: flex-start;
  min-width: 400px;
}
.input-con-btn {
  color: rgb(246, 238, 238);
  background-color: rgb(3, 129, 247);
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0.9rem;
}
.warning-message {
  color: red;
  font-size: 0.8rem;
  text-align: right;
}
