.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  gap: 10rem;
}
.contact-item-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
